[".iterm2_shell_integration.zsh"]
    type = "file"
    url = "https://iterm2.com/shell_integration/zsh"
    refreshPeriod = "168h"

[".config/nvim"]
    type = "git-repo"
    url = "git@github.com:michaelmior/nvimrc.git"
    refreshPeriod = "1h"

[".pyenv"]
    type = "git-repo"
    url = "git@github.com:pyenv/pyenv.git"
    refreshPeriod = "1h"

[".zsh-functions/git-escape-magic"]
    type = "file"
    url = "https://raw.githubusercontent.com/knu/zsh-git-escape-magic/refs/heads/main/git-escape-magic"
    refreshPeriod = "168h"

{{ if (and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "arm64")) -}}
["bin/mise"]
    type = "file"
    url = "git@github.com:jdx/mise/releases/download/v2026.1.5/mise-v2026.1.5-macos-arm64"
    executable = true
    refreshPeriod = "168h"
{{- end -}}

{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.arch "x64")) -}}
["bin/mise"]
    type = "file"
    url = "git@github.com:jdx/mise/releases/download/v2026.1.5/mise-v2026.1.5-linux-x64"
    executable = true
    refreshPeriod = "168h"
{{- end -}}
