#!/bin/bash

mkdir -p ~/.zsh-functions

eval "$(mise activate bash)"
mise use -g rust

cargo install cargo-binstall

export BINSTALL_NO_CONFIRM=true
cargo binstall -y \
    atuin \
    bat \
    cargo \
    cargo-audit \
    cargo-deny \
    cargo-edit \
    cargo-update \
    datafusion-cli \
    dts \
    fd-find \
    git-absorb \
    git-delta \
    gn \
    histo \
    mdcat \
    mergiraf \
    miniserve \
    pipe-rename \
    prek \
    ripgrep \
    starship \
    tokei \
    xsv \
    zizmor

bat --completion zsh > ~/.zsh-functions/_bat
dts --generate-completion zsh > ~/.zsh-functions/_dts
mdcat --completions zsh > ~/.zsh-functions/_mdcat
miniserve --print-completions zsh > ~/.zsh-functions/_miniserve
rg --generate=complete-zsh > ~/.zsh-functions/_rg
starship completions zsh > ~/.zsh-functions/_starship
zizmor --completions zsh > ~/.zsh-functions/_zizmor

# Linux-specific packages
{{- if eq .chezmoi.os "linux" }}
cargo binstall cargo-acl
{{- end }}
