#!/bin/bash

eval "$(mise activate bash)"
mise use -g rust

cargo install cargo-binstall

export BINSTALL_NO_CONFIRM=true
cargo binstall atuin
cargo binstall cargo
cargo binstall cargo-audit
cargo binstall cargo-deny
cargo binstall cargo-edit
cargo binstall cargo-update
cargo binstall datafusion-cli
cargo binstall fd-find
cargo binstall git-absorb
cargo binstall git-delta
cargo binstall gn
cargo binstall histo
cargo binstall mdcat
cargo binstall mergiraf
cargo binstall miniserve
cargo binstall pipe-rename
cargo binstall ripgrep
cargo binstall starship
cargo binstall tokei
cargo binstall xsv
cargo binstall zizmor

# Linux-specific packages
{{- if eq .chezmoi.os "linux" }}
cargo binstall cargo-acl
{{- end }}

# uv
mise use -g uv

uv tool install black
uv tool install huggingface-hub
uv tool install jpterm
uv tool install nbconvert
uv tool install nbpreview
uv tool install parquet-tools
